<h1>Apontamentos</h1>
<hr>
<a class="btn btn-lg btn-default pull-right" [routerLink]="['/home/apontamento']">Apontar</a>
<button class="btn btn-lg btn-default pull-right export-button" (click)="export()">Exportar</button>
<p *ngIf="!apontamentosPai">
    <em>Loading...</em>
</p>
<table class='table' *ngIf="apontamentosPai">
    <thead>
        <tr>
            <th>Data</th>
            <th>Veiculo</th>
            <th>Setor</th>
            <th>Motorista</th>
            <th>Coletor 1</th>
            <th>Coletor 2</th>
            <th>Coletor 3</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let apontamento of apontamentosPai">
            <td>{{ apontamento.dtAtualizacao | date: 'dd-MM-yyyy HH:mm:ss' }}</td>
            <td>{{ apontamento.veiculoPlaca}} - {{ apontamento.veiculoIdentificador}}</td>
            <td>{{ apontamento.setor }}</td>
            <td>{{ apontamento.motoristaNome }}</td>
            <td>{{ apontamento.coletor1Nome }}</td>
            <td>{{ apontamento.coletor2Nome }}</td>
            <td>{{ apontamento.coletor3Nome }}</td>
        </tr>
    </tbody>
</table>