<h1>Apontamentos</h1>
<hr>
<a class="btn btn-lg btn-default pull-right" [routerLink]="['/home/apontamento']">Apontar</a>
<button class="btn btn-lg btn-default pull-right export-button" (click)="export()">Exportar</button>
<p *ngIf="!apontamentosPai">
    <em>Loading...</em>
</p>
<table class='table table-hover' *ngIf="apontamentosPai">
    <thead>
        <tr>
            <th>Data</th>
            <th>Veiculo</th>
            <th>Setor</th>
            <th>Motorista</th>
            <th>Coletor 1</th>
            <th>Coletor 2</th>
            <th>Coletor 3</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <ng-template ngFor let-apontamento [ngForOf]="apontamentosPai" let-i="index">
            <tr [ngClass]="{ 'em-aberto': apontamento.emAberto }">
                <td>{{ apontamento.dtAtualizacao | date: 'dd-MM-yyyy HH:mm:ss' }}</td>
                <td>{{ apontamento.veiculoPlaca}} - {{ apontamento.veiculoIdentificador}}</td>
                <td>{{ apontamento.setor }}</td>
                <td>{{ apontamento.motoristaNome }}</td>
                <td>{{ apontamento.coletor1Nome }}</td>
                <td>{{ apontamento.coletor2Nome }}</td>
                <td>{{ apontamento.coletor3Nome }}</td>
                <td>
                    <button class="btn btn-sm btn-info" (click)="refreshDetail(apontamento)" data-toggle="collapse" [attr.data-target]="'#' + apontamento.id">
                        <span class='glyphicon  glyphicon-search'></span>
                    </button>
                </td>
            </tr>
            <tr class="master-detail">

                <td colspan="8">
                    <div [attr.id]="apontamento.id" class="collapse">

                        <h4>Apontamento Detalhado</h4>
                        <p *ngIf="!apontamento.filhos">
                            <em>Loading...</em>
                        </p>
                        <table class='table table-hover' *ngIf="apontamento.filhos">
                            <thead>
                                <tr>
                                    <th>Data</th>
                                    <th>Tipo</th>
                                    <th>Informação</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let aspontamentoFilho of apontamento.filhos">
                                    <td>{{ aspontamentoFilho.dtAtualizacao | date: 'dd-MM-yyyy HH:mm:ss' }}</td>
                                    <td>{{ aspontamentoFilho.tipo }}</td>
                                    <td>{{ aspontamentoFilho.aditionalInformation }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </ng-template>
    </tbody>
</table>