<h1>Colaboradores</h1>
<hr>
<a class="btn btn-lg btn-default pull-right" [routerLink]="['/home/colaborador']">Cadastrar</a>
<p *ngIf="!colaboradores">
    <em>Loading...</em>
</p>
<table class='table table-hover' *ngIf="colaboradores">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Matricula</th>
            <th>Funcao</th>
            <th>Email</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let colaborador of colaboradores">
            <td>{{ colaborador.nome }}</td>
            <td>{{ colaborador.matricula }}</td>
            <td>{{ colaborador.funcao }}</td>
            <td>{{ colaborador.email }}</td>
            <td>
                <button (click)="edit(colaborador)" [disabled]="loading" class="btn btn-sm btn-info btn-block">
                    <span class='glyphicon  glyphicon-pencil'></span>
                </button>
            </td>
            <td>
                <button (click)="delete(colaborador.id)" [disabled]="loading" class="btn btn-sm btn-info btn-block">
                    <span class='glyphicon  glyphicon-trash'></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>