<h1>Veículos</h1>
<hr>
<a class="btn btn-lg btn-primary pull-right" [routerLink]="['/home/veiculo']">Cadastrar</a>
<p *ngIf="!veiculos">
    <em>Loading...</em>
</p>
<table class='table' *ngIf="veiculos">
    <thead>
        <tr>
            <th>Identificador</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Placa</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let veiculo of veiculos">
            <td>{{ veiculo.identificador }}</td>
            <td>{{ veiculo.marca }}</td>
            <td>{{ veiculo.modelo }}</td>
            <td>{{ veiculo.placa }}</td>
        </tr>
    </tbody>
</table>
